*
{
 margin:0 auto;
 padding: 0;
 box-sizing:border-box;
}
img{
    display: block;
}
.container{
    width: 80%;
    display: block;
}
.clear{
    clear:both;
}
header{
    padding: 20px 0;
    text-align: center;
}
header h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    color:black;
}
nav{
    background-color: black;
}
.menu{
    padding:15px 0;
}
.menu a{
    color:wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 10px 20px;

}
.menu a:hover{
    color:white;
    text-decoration: underline;
}
#banner{
    position:relative;
}
#banner img{
    width: 100%;
   height:500px;
}
.info{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: black;
    color:white;
    padding: 30px 100px;
    opacity: 0.5;
    text-align: center;
}
.info h2{
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
}
.info p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
}
#feature{
    padding: 30px 0;
    text-align: center;
}
#feature h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:38px;
    text-align: center;
    border-bottom:2px solid navy;
    display:inline-flex;
    color:blue;
}
.boxes{
    padding-top: 30px;
    display: flex;
}
.box{
    width :30%;
    position:relative;
}
.box img{
    width: 100%;
}
.box h4{
    position: absolute;
    bottom:0;
    left:0;
    background-color: black;
    width:100%;
    padding: 20px 0;
    opacity:0.8;
}
.box h4 a{
    text-align: left;
    color:whitesmoke;
    text-decoration: none;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box h4 a:hover{
    text-decoration: underline;
}