*
{
 margin:0 auto;
 padding: 0;
 box-sizing:border-box;
}
img{
    display: block;
}
.container{
    width: 80%;
    display: block;
}
.clear{
    clear:both;
}
header{
    padding: 20px 0;
    text-align: center;
}
header h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    color:black;
}
nav{
    background-color: black;
}
.menu{
    padding:15px 0;
}
.menu a{
    color:wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 10px 20px;

}
.menu a:hover{
    color:white;
    text-decoration: underline;
}
#banner{
    position:relative;
}
#banner img{
    width: 100%;
   height:500px;
}
.info{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: black;
    color:white;
    padding: 30px 100px;
    opacity: 0.5;
    text-align: center;
}
.info h2{
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
    opacity: 1.2;
}
.info p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
}
#feature{
    padding: 30px 0;
    text-align: center;
}
#feature h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:38px;
    text-align: center;
    border-bottom:2px solid navy;
    display:inline-flex;
    color:blue;
}
.boxes{
    padding-top: 30px;
    display: flex;
}
.box{
    width :30%;
    position:relative;
}
.box img{
    width: 100%;
}
.box h4{
    position: absolute;
    bottom:0;
    left:0;
    background-color: black;
    width:100%;
    padding: 20px 0;
    opacity:0.8;
}
.box h4 a{
    text-align: left;
    color:whitesmoke;
    text-decoration: none;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box h4 a:hover{
    text-decoration: underline;
}
#newsletter{
    padding:40px 0;
    /* background-image:url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2576.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1702944000&semt=ais); */
    background: rgb(177,156,42);
    background: linear-gradient(90deg, rgba(177,156,42,1) 2%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
}
#newsletter form{
    display:block;
    text-align: center;
}
#newsletter input[type=text]{
    padding:10px 5px;
    width:250px;
    border:none;
    outline:none;
}
#newsletter input[type=submit]{
    padding:10px;
    background-color:red;
    border:none;
    cursor:pointer;
    color:whitesmoke;
}
#newsletter h5{
   color:whitesmoke;
   font-size: 24px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   padding-bottom: 10px;
}
footer{
    padding: 30px 0;
    background: rgb(177,156,42);
    background: linear-gradient(90deg, rgba(177,156,42,1) 37%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
    
}
.fboxes{
    display: flex;
}
.fbox{
    width: 23%;
}
.fbox h6{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
    color: whitesmoke;
}
.fbox ul{
    list-style: none;
}
.fbox ul li{
    border-bottom: 1px dotted black;
    padding: 5px 0;
}
.fbox ul li a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color:gold;
}
.fbox ul li a:hover{
    color:steelblue;
}